:root {
  --main-bg-color: #191918;
  --main-bg-color-light: #f7f7f7;
  --font-size: 14px;
  --border-radius: 4px;
  --bg-device:#262524;
  --add-device-ico-bg:#3b3a39;
  --add-device-ico-em-bg:#ed883c;
  --add-device-lable:white;
  --add-device-dian-ico:white;
  --language-wrap:#262524;
  --dark-white-light-block:#ffffff;
  --dark-block-light-white:#000000;
  --dark-262524--light-f7f7f7:#262524;
  --dark-ffffff--light-333230:#333230;
}