.dark .icon {
    width: 3rem;
    height: 1.8rem;
    background-color: #e6ab7f;
    border-radius: 20px;
    position: relative;
    left: 3rem;
}

.dark .icon::after {
	content: 'Dark';
	left: -3rem;
	position: absolute;
	top: 0.2rem;
}

.dark .icon span {
    width: 1.5rem;
    height: 1.5rem;
    background-color: #ee8332;
    position: absolute;
    text-align: right;
    border-radius: 20px;
    display: inline-block;
    left: 24px;
    top: 3px;
}

.dark .icon span em {
    position: absolute;
    width: 1rem;
    height: 1rem;
    background-color: white;
    display: inline-block;
    z-index: 5;
    -webkit-mask: url(/static/Images/dark_mode.svg);
    mask: url(/static/Images/dark_mode.svg);
    left: 4px;
    top: 4px;
}


.language {
    padding: 15px;
    background-color: #262524;
    border-radius: 20px;
    margin: 10px;
}

.language h3,p {
    color: white;
    margin-bottom: 10px;
}


.topicFrom .is-input-border {
    background-color: #333230 !important;
    border: 1px solid #444242 !important; 
}

.device-list .grid-item-box {
         
    background-color:#262524 !important;
         
}

.device-items ul{
    background-color: #333230;
    color:#fff;
}

.device-items .current {
    background-color:#262524;
}

.device-page .section h3 {
    color:#000;
}

.device-page .nav-img::before {
    background-color: #fff;
}

.device-grid .row-device-body .row-device-col2 em.dian-ico::before{
    background-color: #fff;
}

.device-popup-wrap .languagetxt::before {
    background-color: #fff;
}

.device-popup-wrap .abouttxt::before {
    background-color: #fff;
}

.device-popup-wrap .themetxt::before {
    background-color: #fff;
}

.device-grid  .pairing {
    background-color: #262524;
}

.devPopup .devPopup-inbox {
    background-color:#262524 ;
    box-shadow: 5px 5px 2px 0px rgb(46 46 46 / 75%);

}

.devPopup .devPopup-inbox h3 {
    color:#fff;
}

.devPopup .renamedevice-input {
    background: #333230;
}

.settings .ringtone-Form-item *{
    color:#ffffff;
}

.settings .ringtone-Form-item {
    background: #000;
    margin: -20px;
    padding:10px;
}